<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= farm.name %>
    </title>
</head>

<body>
    <h1>
        <%= farm.name %>
    </h1>
    <section>
        <h2>Location: <%= farm.city %>
        </h2>
    </section>
    <section>
        <h2> E-mail: <%= farm.email %>
        </h2>
    </section>
    <a href="/farms">Back to farms</a>
    <a href="/farms/<%= farm._id %>/edit">Edit</a>
    <form action="/farms/<%= farm._id %>?_method=DELETE" method="post"><button>Delete</button></form>

</body>

</html>